<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="fontawesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="crow.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="style_default.css">

<html ng-app="crow">
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top capitalize" ng-controller="navigationCtrl">
    <title ng-bind-template="{{blog_name}} - {{blog_description}}"></title>
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="crow.png" width="64px" height="64px" alt="">
           &nbsp;&nbsp;<b>{{blog_name}}</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" ng-controller="linkCtrl"s>

            <li class="nav-item" ng-repeat="(x,y) in navigationLinks">
              <a class="nav-link" href={{x}}>{{y}}</a>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>

<div class="col-xs-12"><br/><br/></div>
<div class="row">
<div class=" col-lg-9 col-sm-9 col-md-9" ng-controller="blogCtrl">
  <div ng-repeat="x in posts">
  	<div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{x.title}}</h2>  
              <div ng-bind-html="x.description | limitTo: limit | trustAsHtml "></div>
            </div>
            <div class="card-footer text-muted">
              published on {{x.date_created}} by
              <a ng-href="{{x.author_url}}">{{x.author}}</a>
               <a href="" class="btn btn-primary offset-md-3" ng-hide="open" ng-click = "limit = x.description.length; read_more= 'Read Less'; open = true; ">{{read_more}} &rarr;</a>
            </div>
        </div>
  </div>
</div>

<!--BLOG SIDE BAR -->
<div class=" col-lg-3 col-md-3 col-sm-3" ng-controller="sideBarCtrl">
    <div ng-repeat="(key, value) in sideBarItems">
         <div ng-bind-html="sideBarItems[key] | trustAsHtml "></div>
    </div>
</div>

</div>
<div class="container bg-dark col-lg-12 col-md-12 col-sm-12">

        <div class="text-center center-block footer">
          <p>
           powered by <a href="https://github.com/naveen17797/crow" style="color: white;">Crow CMS</a>
          </p>
        </div>

</div>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module("crow", []);
	

	//load the navigation bar and set titles
	app.controller('navigationCtrl', function($scope, $http) {

	  var setBasicInfo = function (response) {
	      var data = response.data
		  $scope.blog_name = data.blog_name;
		  $scope.blog_description = data.blog_description;
	  }

      $http.get("cr_info.json").then(setBasicInfo);

    });


	//controller to set the navigation links

    app.controller('linkCtrl', function ($scope, $http) {
      
      var setLinkInfo = function($response) {
        
         $scope.navigationLinks = $response.data;
      
      }  

      $http.get("cr_menu.json").then(setLinkInfo);

    });


    //controller to display the posts

    app.controller('blogCtrl', function($scope, $http) {

    	var displayPosts = function($response) {
        
         $scope.posts = $response.data;
         $scope.limit = 500;
         $scope.read_more = "Read More";
         $scope.open = false;
      
      }  

      $http.get("cr_posts.json").then(displayPosts);

    });

     app.filter('trustAsHtml',['$sce', function($sce) {
      return function(text) {
      return $sce.trustAsHtml(text);
    };
  }]);

     app.controller('sideBarCtrl', function ($scope, $http) {
         var displaySideBarItems = function (response) {
            $scope.sideBarItems = response.data;
         }
         $http.get("cr_sidebar.json").then(displaySideBarItems);
     });

</script>
</html>