.capitalize {
	text-transform: capitalize;
	text-align: justify;
}

code {
	background-color: #eee;
}

.footer {
	color:  white;
	padding: 30px;
}

@font-face {
	font-family: "ubuntu-l";
	src: url("../fonts/ubuntu.ttf");
}

html,body {
	font-family: ubuntu-l;
}